
.search-btn-oyo { 
    background-color: #1ba048 !important; 
    border-color: #1ba048 !important;
}

.custom-range-pnb::-webkit-slider-thumb {
    background-color: #dc3545; 
    border: 1px solid #dc3545;
}
.sidebar-position{
position: sticky; 
}

.custom-checkbox-pnb:checked {
    background-color: #dc3545; 
    border-color: #dc3545;
}


.sidebar-container {
    position: sticky;
    top: 90px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}